@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf');
    font-weight: normal;
}

/*
#1E4522
#96CE9D
#54C461
#324534
#3F9148
#063d1e
*/

:root{
    --cor0:#96CE9D;
    --cor1:#54C461;
    --cor2:#3F9148;
    --cor3:#1E4522;
    --cor4:#324534;
    --cor5:#063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif; 
    --fonte-destaque:'Bebas Neue', sans-serif;
    --fonte-android: 'Android', 'cursive';
    

}


* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a[target="_blank"]::after {content: '\00a0\1f517';}



header{
    background-image: linear-gradient(to bottom, var(--cor1),var(--cor5));    
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    
}



header >h1 {
    color: var(--cor2);
    font-family: var(--fonte-destaque);
    color: white;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow:2px 2px 0px  rgba(0, 0, 0, 0.61);
    font-weight: normal;
    
}

header > p {
    color: white;
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding: 0px 10px;
    padding-bottom: 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px black;
}

nav>a{
    color: var(--cor0);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
}

nav>a:hover{
    background-color: var(--cor2);
    color: var(--cor5);
}


main p{
    margin: 15px 0px ;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1em;
    line-height: 2em;
}


main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.39);
    border-radius: 0px 0px 10px 10px;
}


main strong{
    color: var(--cor4);
    font-weight: bold;
    ;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor0);
}

main a:hover{
    text-decoration: underline;
    color: var(--cor2);
}



main h1{
    font-family: var(--fonte-android);
    color: var(--cor5);
    font-weight: normal;
    font-size: 1.8em
}

main h2{
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor0),transparent);
    font-weight: normal;

}

main img{
    width: 100%;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;

    

}

div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;

}


div.video>iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90% ;
    height: 90% ;


}

aside {
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.363);
}

aside >ul{
    list-style-type: "\2714\00a0\00A0";
    list-style-position: inside;
    columns: 2;
}

aside > h3{
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer > p > a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    columns: var(--cor0);
}